html *
  {
font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

  ::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }
  ::-webkit-scrollbar-track-piece  {
    background-color: #000000d9;
  }
  ::-webkit-scrollbar-thumb:vertical {
    height: 1px;
    background-color: #454444db;
  }
  .navbar-link:not(.is-arrowless)::after {
    border-color:  #f19296;
    margin-top: -0.375em;
    right: 1.125em;
  }
  .hero.is-info .title {
    color: #f19296;
  }
  .navbar-item {
    color: rgba(255,255,255,0.822);
  }
  .navbar-burger {
    color: white;
  }
  .button.is-info {
   color: #f19296;
   background-color: #ffffff17;
 }
 .button.is-info:hover, .button.is-info.is-hovered {
  color: #002428;
  background-color: #f19296;
  border-color: transparent;
}
.button.is-primary {
  color: #f19296;
  background-color: #ffffff17;
}
.hero.is-primary {
  background-color: #000000b0;
  color: #fff;
}
.hero.is-primary .title {
  color: #f19296;
}
.hero.is-primary .subtitle a:not(.button), .hero.is-primary .subtitle strong {
  color: #f19296;
}
.button.is-primary:hover, .button.is-primary.is-hovered {
  color: #002428;
  background-color: #f19296;
  border-color: transparent;
}
.navbar.is-transparent .navbar-dropdown a.navbar-item:focus, .navbar.is-transparent .navbar-dropdown a.navbar-item:hover {
  background-color: whitesmoke;
  color: #f19296;
}
a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active {
  background-color: #fafafa;
  color: #f19296;
}
.navbar-link {
  color: rgba(255,255,255,0.822);
}
.navbar.is-transparent {
  background-color: #000000d1;
}
.navbar-dropdown.is-boxed {
 background-color: #141414bd;
}
.footer {
  background-color: #00000033;
  padding: 1rem 1.5rem 1rem;
}
p {
  opacity: 0;
  animation: ani 2.5s forwards;
}
@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
